#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

header nav{
  display: flex;
  gap: 15px;
}

header nav a,
header nav button {
    color: white;
    text-decoration: none;
    text-align: end;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
}

header nav button {
    background-color: #f00;
    border-radius: 5px;
}

header nav a:hover,
header nav button:hover {
    text-decoration: underline;
}

/* Images Size */
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 */
