# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Directory for build output
dist/

# Dependency directories
bower_components/

# IDE or editor folders
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Package lock
package-lock.json

# Optional: Ignore test reports
coverage/